<div class="position-relative">
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Personal Analysis
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <h2>Diversity Chart</h2>
    <div>
    <canvas id="diversityChart" width="400" height="400"></canvas>
    </div>

    <h2>Ethnicity Representation</h2>
    <div>
      <canvas id="ethnicityChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>