<style>
  .container {
    margin-top: 200px;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 0px solid transparent;
    padding: 8px;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
</style>

<div class="position-relative">
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Comprehensive Analysis</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Diversity Chart</h3>
      <div>
        <canvas id="diversityChart" width="200" height="300"></canvas>
      </div>
    </div>
    <div class="col-lg-6">
      <h3>Ethnicity Representation</h3>
      <div>
        <canvas id="ethnicityChart" width="200" height="300"></canvas>
      </div>
    </div>
  </div>
</div>